---
title: "Signed MOAS Group (SMG) Based Route Origin Verification and Operational Considerations"
abbrev: "smg-verification"
category: info

docname: draft-li-sidrops-smg-verification-latest
submissiontype: IETF  # also: "independent", "editorial", "IAB", or "IRTF"
number:
date:
consensus: true
v: 3
area: "Operations and Management"
workgroup: "SIDR Operations"
keyword:
 - next generation
 - unicorn
 - sparkling distributed ledger
venue:
  group: "SIDR Operations"
  type: "Working Group"
  mail: "sidrops@ietf.org"
  arch: "https://mailarchive.ietf.org/arch/browse/sidrops/"
  github: "liqi16/draft-li-sidrops-smg-verification"
  latest: "https://liqi16.github.io/draft-li-sidrops-smg-verification/draft-li-sidrops-smg-verification.html"

author:
 -
    fullname: "LIQI"
    organization: Your Organization Here
    email: "59596741+liqi16@users.noreply.github.com"

normative:

informative:


--- abstract

TODO Abstract


--- middle

# Introduction

TODO Introduction


# Conventions and Definitions

{::boilerplate bcp14-tagged}


# Security Considerations

TODO Security


# IANA Considerations

This document has no IANA actions.


--- back

# Acknowledgments
{:numbered="false"}

TODO acknowledge.
